.shirt-grid {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.shirt-card {
    position: relative;
    width: 23vw;
    height: 45vh;
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 5vh;
}
.all{
    margin-left: 18vw !important;
}

.shirt-image {
    width: 100%;
    height: 45vh;
    display: block;
}

.shirt-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
}
.description{
    height: 20vh;
    width: 69vw;
    background: white;
    padding: 20px!important;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: justify;
}
.description:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1441px) {
    .shirt-card {
    width: 26vw;
}
}
@media screen and (max-width: 1025px) {
.shirt-card {
    width: 33vw;
}
.all{
    margin-left: 27vw !important;
}
}
@media screen and (max-width: 769px) {
.shirt-card {
    width: 33vw;
    /* margin-left: 3vw; */
}
.description{
    height: 28vh;
}

}
@media screen and (max-width: 426px) {
.shirt-card {
    width: 60vw;
    height: 27vh;
}
.shirt-image {
    height: 27vh;
}
.all{
    margin-left: 38vw !important;
}
.shirt-text {
    display: none;
}
.description{
    height: 65vh;
    width: 60vw;
}
}
@media screen and (max-width: 376px) {
    .description{
    height: 74vh;
}
}
@media screen and (max-width: 321px) {
    .description{
    height: auto;
}
}
