.sidebar{
    width: 14vw;
    height: auto;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background-image: url('../images/bg-nav.jpeg');
    color: #fff !important;
}
.side-img{
    width: 7vw;
    height: 10vh;
}
.note-side{
    font-size: 15px;
}